@import 'utility'

$base-text-size: 16px
$base-font-family: sans-serif
$center-margin: 0 auto


//------------------------------//
///////////  GENERAL  ////////////
//------------------------------//

html
  text-size-adjust: 100%

body
  @include font-smoothing(on)
  margin: 0
  font: $base-text-size / 1 $base-font-family

section
  margin: $center-margin

main
  width: 80%
  margin: $center-margin

h3
  color: hsl($hue: 0, $saturation: 0%, $lightness: 15%)
  display: inline-block

//-----------------------------------//
///////////  HEADER & NAV  ////////////
//-----------------------------------//

nav.header
  background-color: #f3f3f3
  width: 100%
  margin-bottom: 15px
  padding: 10px

nav

  ul
    display: flex
    justify-content: space-between
    width: 95%
    margin: $center-margin
    padding: 0

  a:link,
  a:visited
    text-decoration: none
    font-family: "helvetica", "arial", sans-serif
    font-size: 13px
    font-weight: bolder
    color: #000
    cursor: pointer

  a:focus,
  a:hover,
  a:active
    color: #4183c4

li
  list-style: none
  padding: 10px

ul .logo
  background-image: url('https://octodex.github.com/ui/logo.png')
  background-repeat: no-repeat
  background-position: left
  color: transparent
  background-size: 10em
  padding: 0
  width: 80%
  margin-right: 20px


//------------------------------//
///////////  GALLERY  ////////////
//------------------------------//

.gallery
  display: flex
  flex-wrap: wrap

.gallery img
  border: 1px solid LightGray
  border-radius: 2px
  width: 270px
  height: 270px
  padding: 5px

.gallery img.u-image
  width: 28px
  height: 28px
  border: 0
  padding: 0

span.user
  color: DimGray
  font-weight: bolder

.gallery figure
  display: flex
  flex-direction: column

.gallery figcaption
  margin: 10px 0 0
  border-bottom: 1px solid LightGray
  height: 60px
  width: 280px

.gallery div.user-info
  display: flex
  justify-content: space-between
  align-items: center

.gallery p
  margin: 0
  // padding: 2px


//------------------------------//
///////////  FOOTER  ////////////
//------------------------------//

footer
  border-top: 1px solid LightGray
  font-size: 12px
  width: 100%
  margin: 10px
  color: #777

  ul
    display: flex
    justify-content: space-between
    padding: 0

  li.icon
    background-image: url('https://cdn3.iconfinder.com/data/icons/free-social-icons/67/github_circle_color-512.png')
    background-size: cover
    background-repeat: no-repeat
    width: 10px
    height: 10px
    opacity: 0.3

footer.links
  margin: $center-margin

footer.links a:link,
a:visited
  text-decoration: none
  font-family: "helvetica", "arial", sans-serif
  font-size: 12px
  font-weight: bolder
  color: #777
  cursor: pointer

footer.links a:focus,
a:hover,
a:active
  color: #4183c4

// footer
